[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm.git
[submodule "external/metal-cpp"]
	path = external/metal-cpp
	url = https://github.com/bkaradzic/metal-cpp.git
[submodule "external/stb"]
	path = external/stb
	url = https://github.com/nothings/stb.git
[submodule "external/spirv-cross"]
	path = external/spirv-cross
	url = https://github.com/KhronosGroup/SPIRV-Cross.git
[submodule "external/glslang"]
	path = external/glslang
	url = https://github.com/KhronosGroup/glslang.git
